
<nav style="border-bottom: 1px solid #ccc;" class="navbar navbar-light bg-light row align-items-center mb-5">
    <a class="navbar-brand col">Dashboard</a>
    <a class="lead col-md-auto"><%= handle %></a>
    <a href="/users/logout" class="btn btn-outline-secondary col col-sm-1">Logout</a>
</nav>
<div class="dahsboard">
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-6">
              <div class="card border-danger">
                <div class="card-body">
                  <h5 class="card-title text-danger">Verify your account</h5>
                  <p class="card-text">Please check your email to verify your account .</p>
                  <a href="javascript:void(0)" class="btn btn-danger">Thanks</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card border-info">
                <div class="card-body">
                  <h5 class="card-title text-info">Feel free to change your settings</h5>
                  <p class="card-text">Visit your settings to change / modify your informations.</p>
                  <a href="settings" class="btn btn-info">Settings</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
    